* {
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; 
    -o-box-sizing: border-box; box-sizing: border-box;}

.myTab ul.tab-ul {
    margin: 0; padding: 0;}

.myTab ul.tab-ul:after {
    content: ""; clear: both; display: block;}

.myTab ul.tab-ul li {
    list-style: none; float: Center; display: inline-block; padding: 10px; 
    background-color: #DAF0F1;}

.myTab ul.tab-ul li.active {
    border: 1px solid #60B0FF; border-bottom-width: 0px; background-color: #60B0FF;}

.myTab ul.tab-ul li:hover {
    background-color: #60B0FF;}

.myTab ul.tab-ul li.active:hover {
    background-color: #60B0FF;}

.myTab .tab_container {
  text-align:left;  margin-top: -1px; padding: 10px; width: 250px; border: 3px outset #60B0FF;}

.myTab .tab_container .tab_content p {
    margin: 0;
    font-size: 10pt;
}
